In [4]:
from supabase import create_client
import pandas as pd
import os
from dotenv import load_dotenv

# -----------------------------------------
# 1Ô∏è‚É£ Load .env and connect to Supabase
# -----------------------------------------
load_dotenv()

SUPABASE_URL = os.getenv("SUPABASE_URL")
SUPABASE_KEY = os.getenv("SUPABASE_KEY")

if not SUPABASE_URL or not SUPABASE_KEY:
    raise ValueError("‚ùå Missing SUPABASE_URL or SUPABASE_KEY in .env")

supabase = create_client(SUPABASE_URL, SUPABASE_KEY)

print("üîó Connected to Supabase!")

# -----------------------------------------
# 2Ô∏è‚É£ Fetch Titanic Data
# -----------------------------------------
response = supabase.table("titanic_data").select("*").execute()
df = pd.DataFrame(response.data)

print("\nüìå DATA LOADED SUCCESSFULLY\n")
print(df.head())

# -----------------------------------------
# 3Ô∏è‚É£ Basic Dataset Info
# -----------------------------------------
print("\n====== DATA INFO ======\n")
print(df.info())

print("\n====== SHAPE ======\n")
print(df.shape)

print("\n====== NULL VALUES ======\n")
print(df.isnull().sum())

print("\n====== DESCRIPTIVE STATS ======\n")
print(df.describe(include="all"))

print("\n====== COLUMNS ======\n")
print(df.columns)

# -----------------------------------------
# 4Ô∏è‚É£ Handling Missing Values
# -----------------------------------------
print("\n===== FILLING MISSING VALUES =====\n")

if "age" in df.columns:
    df["age"].fillna(df["age"].median(), inplace=True)

if "embarked" in df.columns:
    df["embarked"].fillna(df["embarked"].mode()[0], inplace=True)

if "fare" in df.columns:
    df["fare"].fillna(df["fare"].median(), inplace=True)

print("Missing values after filling:")
print(df.isnull().sum())

# -----------------------------------------
# 5Ô∏è‚É£ Detect Duplicates
# -----------------------------------------
print("\n===== DUPLICATES =====\n")
print(f"Duplicate rows: {df.duplicated().sum()}")

# -----------------------------------------
# 6Ô∏è‚É£ Survival Analysis (updated with correct column names)
# -----------------------------------------
if "survived" in df.columns:

    print("\n===== SURVIVAL BY SEX =====\n")
    print(df.groupby("sex")["survived"].mean())

    print("\n===== SURVIVAL BY PCLASS =====\n")
    print(df.groupby("pclass")["survived"].mean())

    # Age Group Creation
    df["age_group"] = pd.cut(
        df["age"],
        bins=[0, 12, 18, 35, 60, 100],
        labels=["Child", "Teen", "Adult", "Middle Age", "Senior"]
    )

    print("\n===== SURVIVAL BY AGE GROUP =====\n")
    print(df.groupby("age_group")["survived"].mean())

# -----------------------------------------
# 7Ô∏è‚É£ Correlation Matrix
# -----------------------------------------
print("\n===== CORRELATION MATRIX =====\n")
numeric_df = df.select_dtypes(include="number")
print(numeric_df.corr())

# -----------------------------------------
# 8Ô∏è‚É£ Categorical Counts
# -----------------------------------------
if "sex" in df.columns:
    print("\n===== SEX COUNTS =====\n")
    print(df["sex"].value_counts())

if "embarked" in df.columns:
    print("\n===== EMBARKED COUNTS =====\n")
    print(df["embarked"].value_counts())

# -----------------------------------------
# 9Ô∏è‚É£ Feature Engineering (correct names)
# -----------------------------------------
if "sibsp" in df.columns and "parch" in df.columns:
    df["family_size_calc"] = df["sibsp"] + df["parch"] + 1
    df["is_alone_calc"] = (df["family_size_calc"] == 1).astype(int)

print("\n===== NEW FEATURES ADDED =====\n")
print(df[["family_size_calc", "is_alone_calc"]].head())

print("\nüéâ FULL ANALYSIS COMPLETED SUCCESSFULLY!")

üîó Connected to Supabase!

üìå DATA LOADED SUCCESSFULLY

   id  survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0   1         0       3    male  22.0      1      0   7.2500        S  Third
1   2         1       1  female  38.0      1      0  71.2833        C  First
2   3         1       3  female  26.0      0      0   7.9250        S  Third
3   4         1       1  female  35.0      1      0  53.1000        S  First
4   5         0       3    male  35.0      0      0   8.0500        S  Third

     who     deck  embark_town  alone  family_size  is_alone  title
0    man  Unknown  Southampton  False            2     False    Man
1  woman        C    Cherbourg  False            2     False  Woman
2  woman  Unknown  Southampton   True            1      True  Woman
3  woman        C  Southampton  False            2     False  Woman
4    man  Unknown  Southampton   True            1      True    Man

====== DATA INFO ======

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   sex          891 non-null    object
 4   age          891 non-null    float64
 5   sibsp        891 non-null    int64
 6   parch        891 non-null    int64
 7   fare         891 non-null    float64
 8   embarked     891 non-null    object
 9   class        891 non-null    object
 10  who          891 non-null    object
 11  deck         891 non-null    object
 12  embark_town  889 non-null    object
 13  alone        891 non-null    bool
 14  family_size  891 non-null    int64
 15  is_alone     891 non-null    bool
 16  title        891 non-null    object
dtypes: bool(2), float64(2), int64(6), object(7)
memory usage: 106.3+ KB
None

====== SHAPE ======

(891, 17)

====== NULL VALUES ======

id             0
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
deck           0
embark_town    2
alone          0
family_size    0
is_alone       0
title          0
dtype: int64

====== DESCRIPTIVE STATS ======

                id    survived      pclass   sex         age       sibsp  \
count   891.000000  891.000000  891.000000   891  891.000000  891.000000
unique         NaN         NaN         NaN     2         NaN         NaN
top            NaN         NaN         NaN  male         NaN         NaN
freq           NaN         NaN         NaN   577         NaN         NaN
mean    446.000000    0.383838    2.308642   NaN   29.361582    0.523008
std     257.353842    0.486592    0.836071   NaN   13.019697    1.102743
min       1.000000    0.000000    1.000000   NaN    0.420000    0.000000
25%     223.500000    0.000000    2.000000   NaN   22.000000    0.000000
50%     446.000000    0.000000    3.000000   NaN   28.000000    0.000000
75%     668.500000    1.000000    3.000000   NaN   35.000000    1.000000
max     891.000000    1.000000    3.000000   NaN   80.000000    8.000000

             parch        fare embarked  class  who     deck  embark_town  \
count   891.000000  891.000000      891    891  891      891          889
unique         NaN         NaN        3      3    3        8            3
top            NaN         NaN        S  Third  man  Unknown  Southampton
freq           NaN         NaN      646    491  537      688          644
mean      0.381594   32.204208      NaN    NaN  NaN      NaN          NaN
std       0.806057   49.693429      NaN    NaN  NaN      NaN          NaN
min       0.000000    0.000000      NaN    NaN  NaN      NaN          NaN
25%       0.000000    7.910400      NaN    NaN  NaN      NaN          NaN
50%       0.000000   14.454200      NaN    NaN  NaN      NaN          NaN
75%       0.000000   31.000000      NaN    NaN  NaN      NaN          NaN
max       6.000000  512.329200      NaN    NaN  NaN      NaN          NaN

       alone  family_size is_alone title
count    891   891.000000      891   891
unique     2          NaN        2     3
top     True          NaN     True   Man
freq     537          NaN      537   537
mean     NaN     1.904602      NaN   NaN
std      NaN     1.613459      NaN   NaN
min      NaN     1.000000      NaN   NaN
25%      NaN     1.000000      NaN   NaN
50%      NaN     1.000000      NaN   NaN
75%      NaN     2.000000      NaN   NaN
max      NaN    11.000000      NaN   NaN

====== COLUMNS ======

Index(['id', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'deck', 'embark_town', 'alone',
       'family_size', 'is_alone', 'title'],
      dtype='object')

===== FILLING MISSING VALUES =====

Missing values after filling:
id             0
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
deck           0
embark_town    2
alone          0
family_size    0
is_alone       0
title          0
dtype: int64

===== DUPLICATES =====

Duplicate rows: 0

===== SURVIVAL BY SEX =====

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

===== SURVIVAL BY PCLASS =====

pclass
1    0.629630
2    0.472826
3    0.242363
Name: survived, dtype: float64

===== SURVIVAL BY AGE GROUP =====

age_group
Child         0.579710
Teen          0.428571
Adult         0.353271
Middle Age    0.400000
Senior        0.227273
Name: survived, dtype: float64

===== CORRELATION MATRIX =====

                   id  survived    pclass       age     sibsp     parch  \
id           1.000000 -0.005007 -0.035144  0.034212 -0.057527 -0.001652
survived    -0.005007  1.000000 -0.338481 -0.064910 -0.035322  0.081629
pclass      -0.035144 -0.338481  1.000000 -0.339898  0.083081  0.018443
age          0.034212 -0.064910 -0.339898  1.000000 -0.233296 -0.172482
sibsp       -0.057527 -0.035322  0.083081 -0.233296  1.000000  0.414838
parch       -0.001652  0.081629  0.018443 -0.172482  0.414838  1.000000
fare         0.012658  0.257307 -0.549500  0.096688  0.159651  0.216225
family_size -0.040143  0.016639  0.065997 -0.245619  0.890712  0.783111

                 fare  family_size
id           0.012658    -0.040143
survived     0.257307     0.016639
pclass      -0.549500     0.065997
age          0.096688    -0.245619
sibsp        0.159651     0.890712
parch        0.216225     0.783111
fare         1.000000     0.217138
family_size  0.217138     1.000000

===== SEX COUNTS =====

sex
male      577
female    314
Name: count, dtype: int64

===== EMBARKED COUNTS =====

embarked
S    646
C    168
Q     77
Name: count, dtype: int64

===== NEW FEATURES ADDED =====

   family_size_calc  is_alone_calc
0                 2              0
1                 2              0
2                 1              1
3                 2              0
4                 1              1

üéâ FULL ANALYSIS COMPLETED SUCCESSFULLY!

C:\Users\ashri\AppData\Local\Temp\ipykernel_103920\3159596783.py:54: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].median(), inplace=True)
C:\Users\ashri\AppData\Local\Temp\ipykernel_103920\3159596783.py:57: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["embarked"].fillna(df["embarked"].mode()[0], inplace=True)
C:\Users\ashri\AppData\Local\Temp\ipykernel_103920\3159596783.py:60: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["fare"].fillna(df["fare"].median(), inplace=True)
C:\Users\ashri\AppData\Local\Temp\ipykernel_103920\3159596783.py:90: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby("age_group")["survived"].mean())

In [10]:
import pandas as pd
import numpy as np
import os

def transform_telco(input_path, output_path, display_rows=10):
    # --------------------------------------------------
    # 0Ô∏è‚É£ Check if input file exists
    # --------------------------------------------------
    if not os.path.exists(input_path):
        raise FileNotFoundError(
            f"‚ùå Input CSV not found at: {input_path}\n"
            f"‚ÑπÔ∏è  Please download it from Kaggle and place it here."
        )
    
    print(f"üîç Loading dataset from: {input_path}")
    df = pd.read_csv(input_path)
    print(f"üìå Initial shape: {df.shape}")

    # ============================================================
    # 1Ô∏è‚É£ CLEANING TASKS
    # ============================================================
    df["TotalCharges"] = pd.to_numeric(df["TotalCharges"].replace(" ", np.nan), errors="coerce")
    for col in ["tenure", "MonthlyCharges", "TotalCharges"]:
        df[col].fillna(df[col].median(), inplace=True)
    for col in df.select_dtypes(include=["object"]).columns:
        df[col].fillna("Unknown", inplace=True)

    # ============================================================
    # 2Ô∏è‚É£ FEATURE ENGINEERING
    # ============================================================
    df["tenure_group"] = pd.cut(
        df["tenure"],
        bins=[0, 12, 36, 60, 1000],
        labels=["New", "Regular", "Loyal", "Champion"],
        right=True
    )
    df["monthly_charge_segment"] = pd.cut(
        df["MonthlyCharges"],
        bins=[0, 30, 70, 500],
        labels=["Low", "Medium", "High"]
    )
    df["has_internet_service"] = df["InternetService"].map({
        "DSL": 1,
        "Fiber optic": 1,
        "No": 0
    }).fillna(0).astype(int)
    df["is_multi_line_user"] = df["MultipleLines"].apply(lambda x: 1 if x == "Yes" else 0)
    df["contract_type_code"] = df["Contract"].map({
        "Month-to-month": 0,
        "One year": 1,
        "Two year": 2
    }).fillna(0).astype(int)

    # ============================================================
    # 3Ô∏è‚É£ DROP UNNEEDED COLUMNS
    # ============================================================
    df.drop(columns=["customerID", "gender"], inplace=True, errors="ignore")

    # ============================================================
    # 4Ô∏è‚É£ EXPORT TRANSFORMED DATA
    # ============================================================
    os.makedirs(os.path.dirname(output_path), exist_ok=True)
    df.to_csv(output_path, index=False)
    print(f"üéâ Transformation complete! Saved to: {output_path}")
    print(f"üìä Final shape: {df.shape}")

    # ============================================================
    # 5Ô∏è‚É£ DISPLAY DATAFRAME INFORMATION
    # ============================================================
    print("\nüñ• Showing the first few rows of the transformed dataset:")
    print(df.head(display_rows))
    
    print("\n‚ÑπÔ∏è Dataset Info:")
    print(df.info())

    print("\nüìä Statistical Summary of Numeric Columns:")
    print(df.describe())

    print("\nüóÇ Column Names:")
    print(df.columns.tolist())

    return df


# ============================================================
# RUN SCRIPT
# ============================================================
if __name__ == "__main__":
    input_file = "data/raw/Telco-Customer-Churn.csv"      # <-- update path if needed
    output_file = "data/staged/telco_transformed.csv"
    
    try:
        transform_telco(input_file, output_file)
    except FileNotFoundError as e:
        print(e)

üîç Loading dataset from: data/raw/Telco-Customer-Churn.csv
üìå Initial shape: (7043, 21)
üéâ Transformation complete! Saved to: data/staged/telco_transformed.csv
üìä Final shape: (7043, 24)

üñ• Showing the first few rows of the transformed dataset:
   SeniorCitizen Partner Dependents  tenure PhoneService     MultipleLines  \
0              0     Yes         No       1           No  No phone service
1              0      No         No      34          Yes                No
2              0      No         No       2          Yes                No
3              0      No         No      45           No  No phone service
4              0      No         No       2          Yes                No
5              0      No         No       8          Yes               Yes
6              0      No        Yes      22          Yes               Yes
7              0      No         No      10           No  No phone service
8              0     Yes         No      28          Yes               Yes
9              0      No        Yes      62          Yes                No

  InternetService OnlineSecurity OnlineBackup DeviceProtection  ...  \
0             DSL             No          Yes               No  ...
1             DSL            Yes           No              Yes  ...
2             DSL            Yes          Yes               No  ...
3             DSL            Yes           No              Yes  ...
4     Fiber optic             No           No               No  ...
5     Fiber optic             No           No              Yes  ...
6     Fiber optic             No          Yes               No  ...
7             DSL            Yes           No               No  ...
8     Fiber optic             No           No              Yes  ...
9             DSL            Yes          Yes               No  ...

  PaperlessBilling              PaymentMethod MonthlyCharges TotalCharges  \
0              Yes           Electronic check          29.85        29.85
1               No               Mailed check          56.95      1889.50
2              Yes               Mailed check          53.85       108.15
3               No  Bank transfer (automatic)          42.30      1840.75
4              Yes           Electronic check          70.70       151.65
5              Yes           Electronic check          99.65       820.50
6              Yes    Credit card (automatic)          89.10      1949.40
7               No               Mailed check          29.75       301.90
8              Yes           Electronic check         104.80      3046.05
9               No  Bank transfer (automatic)          56.15      3487.95

  Churn tenure_group  monthly_charge_segment  has_internet_service  \
0    No          New                     Low                     1
1    No      Regular                  Medium                     1
2   Yes          New                  Medium                     1
3    No        Loyal                  Medium                     1
4   Yes          New                    High                     1
5   Yes          New                    High                     1
6    No      Regular                    High                     1
7    No          New                     Low                     1
8   Yes      Regular                    High                     1
9    No     Champion                  Medium                     1

  is_multi_line_user contract_type_code
0                  0                  0
1                  0                  1
2                  0                  0
3                  0                  1
4                  0                  0
5                  1                  0
6                  1                  0
7                  0                  0
8                  1                  0
9                  0                  1

[10 rows x 24 columns]

‚ÑπÔ∏è Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SeniorCitizen           7043 non-null   int64
 1   Partner                 7043 non-null   object
 2   Dependents              7043 non-null   object
 3   tenure                  7043 non-null   int64
 4   PhoneService            7043 non-null   object
 5   MultipleLines           7043 non-null   object
 6   InternetService         7043 non-null   object
 7   OnlineSecurity          7043 non-null   object
 8   OnlineBackup            7043 non-null   object
 9   DeviceProtection        7043 non-null   object
 10  TechSupport             7043 non-null   object
 11  StreamingTV             7043 non-null   object
 12  StreamingMovies         7043 non-null   object
 13  Contract                7043 non-null   object
 14  PaperlessBilling        7043 non-null   object
 15  PaymentMethod           7043 non-null   object
 16  MonthlyCharges          7043 non-null   float64
 17  TotalCharges            7043 non-null   float64
 18  Churn                   7043 non-null   object
 19  tenure_group            7032 non-null   category
 20  monthly_charge_segment  7043 non-null   category
 21  has_internet_service    7043 non-null   int64
 22  is_multi_line_user      7043 non-null   int64
 23  contract_type_code      7043 non-null   int64
dtypes: category(2), float64(2), int64(5), object(15)
memory usage: 1.2+ MB
None

üìä Statistical Summary of Numeric Columns:
       SeniorCitizen       tenure  MonthlyCharges  TotalCharges  \
count    7043.000000  7043.000000     7043.000000   7043.000000
mean        0.162147    32.371149       64.761692   2281.916928
std         0.368612    24.559481       30.090047   2265.270398
min         0.000000     0.000000       18.250000     18.800000
25%         0.000000     9.000000       35.500000    402.225000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.850000   3786.600000
max         1.000000    72.000000      118.750000   8684.800000

       has_internet_service  is_multi_line_user  contract_type_code
count           7043.000000         7043.000000         7043.000000
mean               0.783331            0.421837            0.690473
std                0.412004            0.493888            0.833755
min                0.000000            0.000000            0.000000
25%                1.000000            0.000000            0.000000
50%                1.000000            0.000000            0.000000
75%                1.000000            1.000000            1.000000
max                1.000000            1.000000            2.000000

üóÇ Column Names:
['SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn', 'tenure_group', 'monthly_charge_segment', 'has_internet_service', 'is_multi_line_user', 'contract_type_code']

C:\Users\ashri\AppData\Local\Temp\ipykernel_103920\922405011.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\ashri\AppData\Local\Temp\ipykernel_103920\922405011.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\ashri\AppData\Local\Temp\ipykernel_103920\922405011.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\ashri\AppData\Local\Temp\ipykernel_103920\922405011.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("Unknown", inplace=True)